@media (max-width: 685px) {
/* NAV */
    .nav {
        position: absolute;
        flex-direction: column;
        top: 0;
        left: -84%;
        width: 83%;
        align-items: flex-start;
        background: #000000f0;
        height: 100vh;
        transition: 0.3s;
    }

    .nav.active {
        transform: translateX(100%);
    }

    .nav__link {
        margin-left: 0;
        margin-top: 100px;
        margin-left: 25px;
        font-size: 20px;
        color: #fff;
    }

    .nav__link:first-child {
        margin-top: 168px;
        margin-left: 25px;
        font-size: 20px;
        color: #fff;
    }

/* BURGER */
    .burger {
        display: block;
    }

    .technoleges {
        top: 13%;
    }

    .technoleges__javascript {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__react {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__typeScript {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__nodeJS {
        display: block;
        transition: opacity 0.3s linear;
    }

    .img__tech {
        margin: auto;
    }

    .about__tech {
        padding: 0px 30px 30px 30px;
        margin: 0;
        font-size: 15px;
        text-align: center;
    }
    /* WINDOW ABOUT */
    .windowAbout {
        flex-wrap: wrap;
        margin-top: -16px;
    }
    .windowAbout__js {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .windowAbout__js:first-child{
        margin-left: 0;
        margin-bottom: 40px;
    }
}