@media (max-width: 685px) {
    .nav {
        display: none;
    }

    .technoleges {
        top: 13%;
    }

    .technoleges__javascript {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__react {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__typeScript {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__nodeJS {
        display: block;
        transition: opacity 0.3s linear;
    }

    .img__tech {
        margin: auto;
    }
    
    .about__tech {
        padding: 0px 30px 30px 30px;
        margin: 0;
        font-size: 15px;
        text-align: center;
    }
}