@media (max-width: 685px) {
/* NAV */
    .nav {
        position: absolute;
        flex-direction: column;
        top: 0;
        left: -84%;
        width: 83%;
        align-items: flex-start;
        background: #60ffd7;
        height: 100vh;
        transition: 0.3s;
    }
/* LIGHT LIGHT LIGHT */
    .nav__light {
        display: block;
        position: absolute;
        top: 17px;
        right: 13px;

        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: linear-gradient( 90deg, rgb(0 0 0) 50%, rgb(76 76 76 / 87%) 50%);
    }
    .nav__light.active {
        background: linear-gradient( 90deg, rgb(255 255 255) 50%, rgb(157 157 157 / 87%) 50%);
    }

/* LIGHT LIGHT LIGHT */
    .nav.active {
        transform: translateX(100%);
    }

    .nav__link {
        margin-left: 0;
        margin-top: 100px;
        margin-left: 25px;
        font-size: 20px;
        color: #000;
    }

    .nav__link:first-child {
        margin-top: 168px;
        margin-left: 25px;
        font-size: 20px;
        color: #000;
    }

    .buttonMenu {
        top: 83%;
        width: 90%;
    }

    .sectionOne {
        margin-bottom: 50px;
    }

/* BURGER */
    .burger {
        display: block;
    }

    .technoleges {
        top: 13%;
    }

    .technoleges__javascript {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__react {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__typeScript {
        display: block;
        transition: opacity 0.3s linear;
    }

    .technoleges__nodeJS {
        display: block;
        transition: opacity 0.3s linear;
    }

    .img__tech {
        margin: auto;
    }

    .about__tech {
        padding: 0px 30px 30px 30px;
        margin: 0;
        font-size: 15px;
        text-align: center;
    }
    /* WINDOW ABOUT */
    .windowAbout {
        flex-wrap: wrap;
        margin-top: -16px;
        margin-bottom: 60px;
    }
    .windowAbout__js {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .windowAbout__js:first-child{
        margin-left: 0;
        margin-bottom: 40px;
    }

    /* ACCORD */
    .accord {
        margin: auto;
    }
}