body {
    margin: 0;
    font-family: 'montserrat';
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* /////  CONTAINER  ///// */
.container {
    width: 100%;
    max-width: 950px;
    padding: 0px 15px;

    margin: 0 auto;
}


/* /////  HEADER  ///// */
.header {
    width: 100%;

    background: linear-gradient(-45deg, #80BFFE, #41FF98);
    animation: header 5s ease infinite;
    background-size: 300%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background 0.3s linear;
}

.header.active {
    background: #ffffff5e;
}

@keyframes header {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% -50%;
    }
    100% {
        background-position: 0 75%;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header__logo {
    font-size: 14px;
    font-weight: 600;
    color: #00ff9f;
    background-color: #000;
    border-radius: 20%;
    text-transform: uppercase;

    padding: 10px;
}

/* //////  BUREGR  ////// */
.burger {
    display: none;
    background: 0;
    border: 0;
    cursor: pointer;
    padding: 12px 0;
    transition: transform 0.2s linear;
    z-index: 1000;
}

.burger.active {
    transform: rotate(90deg);
}

.burger__item {
    display: block;
    width: 26px;
    height: 4px;
    background-color: #444444;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #444444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.burger__item:before {
    top: -7px;
}
.burger__item:after {
    top: 7px;
}

/* //////  NAV  ////// */
.nav {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    padding-top: 2px;
}

.nav__link {
    position: relative;
    text-decoration: none;
    margin-left: 60px;
    padding-bottom: 2px;
    color: #000;
    transition: color 0.1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;

    height: 3.5px;
    border-radius: 5px;
    opacity: 0;
    background-color: #fff;
    transition: opacity 0.1s linear;

}

.nav__link:hover:after {
    opacity: 0.5;
}

.nav__link:hover {
    color: #ffffff;
}

.nav__link:first-child {
    margin: 0;
}

/* /////  PLANE  ///// */
.plane {
    display: none;
    position: fixed;
    width: 18%;
    right: 0;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
}
.plane.active {
    display: block;
}

/* /////  SECTION ONE  ///// */
.sectionOne {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    background: #74a0a9;

    height: 100vh;
}

.someText {
    position: absolute;
    bottom: 20px;
    margin: 0;
    font-size: 20px;
    color: #000;
    opacity: 0.3;
}

.someReact {
    position: absolute;
    bottom: 20px;
    margin: 0;
    font-size: 20px;
    color: #000;
    opacity: 0.3;
}

/* /////  infoMENU  ///// */
.technoleges {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 300px;
    top: 26%;
    margin: 0px 15px 0px 15px;
}

.technoleges__javascript {
    display: flex;
    align-items: center;

    background: linear-gradient(45deg, #fff00085, #ffffff2b);
    animation: info 8s ease infinite;
    background-size: 500%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 1;
    transition: opacity 0.4s linear;
    border-radius: 40px;
}

.technoleges__javascript.none {
    opacity: 0;
}

.technoleges__javascript.active {
    opacity: 1;
}

.technoleges__react {
    display: flex;
    align-items: center;

    background: linear-gradient(45deg, #1affdc85, #a767f78f);
    animation: info 8s ease infinite;
    background-size: 500%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    transition: opacity 0.4s linear;
    border-radius: 40px;
}

.technoleges__react.active {
    opacity: 1;
}

.technoleges__typeScript {
    display: flex;
    align-items: center;

    background: linear-gradient(45deg, #00ff0285, #9dffc154);
    animation: info 8s ease infinite;
    background-size: 500%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    transition: opacity 0.4s linear;
    border-radius: 40px;
}

.technoleges__typeScript.active {
    opacity: 1;
}

.technoleges__nodeJS {
    display: flex;
    align-items: center;

    background: linear-gradient(45deg, #ffffff85, #42ffd98f);
    animation: info 8s ease infinite;
    background-size: 500%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    transition: opacity 0.4s linear;
    border-radius: 40px;
}

.technoleges__nodeJS.active {
    opacity: 1;
}

@keyframes info {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% -50%;
    }
    100% {
        background-position: 0 75%;
    }
}

/* //////// IMG TECH //////// */
.img__tech {
    display: block;
    width: 240px;
    height: auto;
    margin-left: 35px;
    padding: 30px 0px 30px 0px;
}

.about__tech {
    text-align: left;
    margin: 30px;
}

/* //////// button //////// */
.buttonMenu {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 85%;
    width: 90%;
}

.buMe__info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #efff00;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background: #0000007a;
    cursor: pointer;

    transition: opacity 0.1s linear;
}
.buMe__info--re {
    color: #00b0ff;
}
.buMe__info--ts {
    color: #00ff00;
}
.buMe__info--no {
    color: #fff;
}

.buMe__info:hover {
    opacity: 0.5;
}

/* /////  SECTION TWO  ///// */
.sectionTwo {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;

    height: 100vh;
    background-color: #5d8a93;
}

/* /////  FORM  ///// */
.formBlock {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 auto;
    background: #0000004a;
    border-radius: 15px;
    padding: 30px;

    max-width: 600px;
    width: 100%;
    box-shadow: 0px 20px 50px -10px rgb(45 68 80 / 46%);
    margin-top: 80px;
}

/* //////form_name////// */
.form__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
}

.form__state {
    margin-bottom: 10px;
    font-size: 16px;
}

.form__title {
    font-family: 'montserrat';
    font-weight: 600;
    margin-bottom: 5px;
}

.form__input {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    height: 28px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.form__input:focus {
    outline: 0;
    border-color: black;
}

.form__state_bu {
    max-width: 500px;
    width: 100%;
}
.form__state_but {
    display: block;
    width: 30%;
    height: 40px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background 0.1s linear, color 0.1s linear;
}
.form__state_but:hover {
    background: #00000059;
    color: #52ffc4;
}
.form__state_but:focus {
    outline: 0;
}
#error {
    font-size: 15px;
    color: red;
    font-family: 'Montserrat';
    font-weight: 600;
}

/* /////  INPUT  ///// */
.input {
    position: absolute;
    left: 50%;
    top: 65%;
    z-index: 1000;
    transform: translate(-50%);

    width: 150px;
    height: 30px;

    border: 1px solid #ccc;
    border-radius: 5px;

    font-style: italic;
    font-size: 14px;
    font-weight: 600;
}

.input:focus {
    outline: 0;
    border-color: greenyellow;
    color: #3d6669;
}

/* /////  BUTTON  ///// */
.buttonBlock {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 75px;
    align-items: center;

    max-width: 180px;
    width: 100%;
}

.button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #000000a1;

    transition: background 0.1s linear, color 0.1s linear;
}

.button:hover {
    background: #fff;
    color: #000;
}

/* .textGradient {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} */

/* .textGradient {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} */

.sectionAbout {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    background: #9cbdda;
}

.gless {
    margin-top: 50px;
    height: 0;
    font-size: 25px;
    font-weight: 700;
    opacity: 0.5;
    color: #000;
    cursor: pointer;
    transition: color 0.5s linear;
}

.glessTwo {
    margin-top: 50px;
    height: 0;
    font-size: 25px;
    font-weight: 700;
    opacity: 0.5;
    color: #000;
    cursor: pointer;
    transition: color 0.5s linear;
    display: none;
}

.gless.active {
    color: red;
}

.glessTwo.active {
    color: black;
}

.timeout {
    position: absolute;
    top: 200px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 300px;
    height: 300px;
    opacity: 0;
    background: #87f2ffba;
    border-radius: 20px;
    transition: opacity 0.8s linear;
}

.timeout.active {
    opacity: 1;
}

.timeout__name {
    color: #0e1144;
}















